
@media screen and (max-width:1400px){
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-containers {
        flex-wrap: wrap;
    }

    .btn-container {
        margin-bottom: 2rem;
    }

}


@media screen and (max-width:1200px){
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    #experience, .experience-details-container {
        margin-top: 2rem;
        
    }

    #profile, .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    section, .section-container {
        height: fit-content;
    }

    section {
        margin: 5% 5%;
    }

    .section__pic-container {
        width: 255px;
        height: 255px;
        margin: 0 auto 2rem;
    }

    .about-containers { 
        margin-top: 0;
    }

    .btn-container {
        margin-bottom: 2rem;
    }
}


@media screen and (max-width:600px){
    #contact, footer {
        height: 40vh;
        margin: 5% 5%;

    }

    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers, .contact-info-upper-container, btn-container {
        flex-wrap: wrap;
    }   



    .contact-info-container {
        margin: 5%;
    }

    .contact-info-container p, .nav-links li a {
        font-size: 2rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section__text_p2 {
        font-size: 1.25rem;

    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }

    .btn-container {
        margin-bottom: 2rem;
    }

}


.carousel-container {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
}

.carousel-slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.project-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

.project-img.active {
    display: block;
}


#socials-container {
    display: flex;
    align-items: center;
}



.icon {
    height: 40px; 
    width: auto;
    margin-left: 10px; 
    cursor: pointer;
}

.button-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}